.chatbot-container * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 100%;
  }
  
  .chatbot-container body {
    background-color: aquamarine;
  }
  
  .chatbot-container {
    --primaryGradient: linear-gradient(93.12deg, #0d1f3f 0.45%, #193b7a 100%);
    --secondaryGradient: linear-gradient(268.91deg, #0d1f3f -2.14%, #193b7a 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #193b7a;
  }
  
  /* CHATBOX */
  .chatbot-container .chatbox {
    position: fixed;
    bottom: 50px;
    right: 10px;
  }
  
  /* CONTENT IS CLOSE */
  .chatbot-container .chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 500px;
    z-index: -69;
    opacity: 0;
    pointer-events: none; /* Make it non-interactive */
    transition: all 0.5s ease-in-out;
    position: fixed;
    right: -9999999px;
    
  }
  
  /* CONTENT IS OPEN */
  .chatbot-container .chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    pointer-events: auto;
    opacity: 1;
    position: static;
  }
  
  /* BUTTON */
  .chatbot-container .chatbox__button {
    text-align: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  
  .chatbot-container .send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* HEADER */
  .chatbot-container .chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
  }
  
  .chatbot-container .chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
  }
  
  .chatbot-container .messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
  }
  
  .chatbot-container .messages__item--operator {
    margin-left: auto;
  }
  
  .chatbot-container .messages__item--visitor {
    margin-right: auto;
  }
  
  /* FOOTER */
  .chatbot-container .chatbox__footer {
    position: sticky;
    bottom: 0;
  }
  
  .chatbot-container .chatbox__support {
    background: #f0f0f0;
    height: 600px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  
  /* HEADER */
  .chatbot-container .chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
  }
  
  .chatbot-container .chatbox__image--header img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 10px;
  }
  
  .chatbot-container .chatbox__heading--header {
    font-size:large;
    color: white;
    font-weight: bold;
  }
  
  .chatbot-container .chatbox__description--header {
    font-size: small;
    color: white;
  }
  
  .chatbot-container .chatbox__description--header2 {
    font-size: 0.9rem;
    color: white;
    font-size: 80%;
    text-align: center;
  }
  
  /* Messages */
  .chatbot-container .chatbox__messages {
    padding: 0 20px;
  }
  
  .chatbot-container .messages__item {
    margin-top: 10px;
    background: #e0e0e0;
    padding: 8px 12px;
    max-width: 70%;
    color: black;
  }
  
  .chatbot-container .messages__item--visitor,
  .chatbot-container .messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .chatbot-container .messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
  }
  
  /* FOOTER */
  .chatbot-container .chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
  }
  
  .chatbot-container .chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
    color: black;
  }
  
  .chatbot-container .chatbox__send--footer {
    color: #f0f0f0;
    
  }
  
  .chatbot-container .chatbox__button button,
  .chatbot-container .chatbox__button button:focus,
  .chatbot-container .chatbox__button button:visited {
    padding: 10px;
    background: #f0f0f0;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .chatbot-container .chatbox__button img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    display: flex;
  }
  
  .chatbot-container .reset-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .chatbot-container .reset-button img {
    max-width: 37px;
    max-height: 37px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .chatbot-container .chatbox__content--header {
    padding-right: 80px;
  }
  
  /* Media Queries for responsiveness */
  @media screen and (max-width: 1024px) {
    
    .chatbot-container .chatbox {
      bottom: 40px;
      right: 10px;
    }
  
    .chatbot-container .chatbox__support {
      width: 500px;
      height: 700px;
    }
  
    .chatbot-container .chatbox__footer {
      padding: 15px;
    }
  
    .chatbot-container .chatbox__footer input {
      width: 75%;
      padding: 20px;
      font-size: larger;
    }
  
    .chatbot-container .chatbox__header {
      padding: 12px 18px;
    }
  
    .chatbot-container .chatbox__header img {
      margin-right: 10px;
      max-width: 100px;
      max-height: 100px;
    }

    .chatbot-container .chatbox__heading--header {
        font-size:larger;
      }
      
      .chatbot-container .chatbox__description--header {
        font-size: large;
      }
      
      .chatbot-container .chatbox__description--header2 {
        font-size: 0%;
      }

      .chatbot-container .chatbox__content--header {
        padding-right: 140px;
      }

    .chatbot-container .reset-button img {
      max-width: 40px;
      max-height: 40px;
    }

    .chatbot-container .chatbox__button button,
    .chatbot-container .chatbox__button button:focus,
    .chatbot-container .chatbox__button button:visited {
      padding: 8px;
    }

    .chatbot-container .messages__item {
      font-size: 150% ;
    }

    .chatbot-container .send__button {
        padding: 20px;
        font-size: larger;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
  }
  
  @media screen and (max-width: 768px) {
    .chatbot-container .chatbox {
        bottom: 40px;
        right: 10px;
      }
    
      .chatbot-container .chatbox__support {
        width: 500px;
        height: 700px;
      }
    
      .chatbot-container .chatbox__footer {
        padding: 15px;
      }
    
      .chatbot-container .chatbox__footer input {
        width: 75%;
        padding: 20px;
        font-size: larger;
      }
    
      .chatbot-container .chatbox__header {
        padding: 12px 18px;
      }
    
      .chatbot-container .chatbox__header img {
        margin-right: 10px;
        max-width: 100px;
        max-height: 100px;
      }
  
      .chatbot-container .chatbox__heading--header {
          font-size:larger;
        }
        
        .chatbot-container .chatbox__description--header {
          font-size: large;
        }
        
        .chatbot-container .chatbox__description--header2 {
          font-size: 0%;
        }
  
        .chatbot-container .chatbox__content--header {
          padding-right: 140px;
        }
  
      .chatbot-container .reset-button img {
        max-width: 40px;
        max-height: 40px;
      }
      .chatbot-container .chatbox__button button,
      .chatbot-container .chatbox__button button:focus,
      .chatbot-container .chatbox__button button:visited {
        padding: 8px;
      }
      .chatbot-container .messages__item {
        font-size: 150% ;
      }

      .chatbot-container .send__button {
        padding: 20px;
        font-size: larger;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }

  @media screen and (max-width: 480px) {
    .chatbot-container .chatbox {
      bottom: 40px;
      right: 10px;
    }
  
    .chatbot-container .chatbox__support {
      width: 350px;
      height: 500px;
    }
  
    .chatbot-container .chatbox__footer {
      padding: 8px;
    }
  
    .chatbot-container .chatbox__footer input {
      width: 65%;
      padding: 6px;
    }
  
    .chatbot-container .chatbox__header {
      padding: 8px 12px;
    }
  
    .chatbot-container .chatbox__header img {
      margin-right: 15px;
      max-width: 70px;
      max-height: 70px;
    }

    .chatbot-container .chatbox__content--header {
        padding-right: 70px;
      }
    
    .chatbot-container .reset-button img {
      max-width: 30px;
      max-height: 30px;
    }

    .chatbot-container .chatbox__description--header2 {
        font-size: 0;
      }

    
    .chatbot-container .chatbox__button button,
    .chatbot-container .chatbox__button button:focus,
    .chatbot-container .chatbox__button button:visited {
      padding: 6px;
    }
    
    .chatbot-container .messages__item {
      font-size: 125%;
    }
  }