@media only screen and (max-width: 1199px) and (min-width: 992px) {
	#portfolio .portfolio-thumb .portfolio-overlay {
		padding: 0px 8px;
	}
}
/* end 360 media quires */

/* start 768 media quires */
@media only screen and ( max-width: 1000px )
 	{
		#hero {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 80px;
	}
	#hero h1 {
		font-size: 40px;
    	white-space: normal;
    	word-break: break-word;
	}

	#hero .col-md-5 {
		max-width: 50%;
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}

	.templatemo-nav {
		position: fixed;
    	top: 0;
	}

	header {
		margin-top: -40px;
	}

	header .social-icon {
		text-align: left;
	}

	.navbar-toggle {
		margin-top: 15px;
	}

	.navbar-collapse {
		max-height: 300px;
		overflow-y: auto;
	}

	.navbar-default .navbar-nav li a {
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 35px;
	}
}
/* end 768 media quires */

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {
	header .social-icon
		{
			text-align: left;
		}
	#hero
		{
			min-height: 200px;
			padding-top: 60px;
			padding-bottom: 40px;
		}
	#hero h1
		{
			font-size: 32px;
		}
		
::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background: #0b274b
}
}